:root {
    --color-accent: #1f1f1f;
    --color-text: #fdfdfd;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    a:hover {
        text-decoration: underline;
    }
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;

    background: var(--color-accent, #1f1f1f);
    padding: 1.5rem 5rem;
    margin-bottom: 2rem;

    h1 > a {
        color: var(--color-text, #fdfdfd);
        text-decoration: none;
    }

    nav > ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        justify-content: end;
        
        a {
            color: var(--color-text, #fdfdfd);
            text-decoration: none;
        }
    }
}

main {
    grid-column: 2;
    grid-row: 2;

    img { 
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        min-width: 15rem;
        max-width: 15rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    p#side-note {
        margin-top: -2rem;
        font-size: 0.9rem;
        color: #797979;
        font-style: italic;
    }

    h2 {
        margin: 2rem 0 0.5rem 0;
    }

    p {
        margin-bottom: 1rem;
    }

    review-score {
        display: block;
        background: rgb(58, 58, 58);
        padding: 2rem;
        margin: auto;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        max-width: 10rem;
        border-radius: 50%;
        color: var(--color-text, #fdfdfd);

        h2 {
            font-size: 2rem;
            margin: 0 0 1rem 0;
        }
    }
}

footer {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: right;
    margin-top: 2rem;

    color: var(--color-text, #fdfdfd);
    background: var(--color-accent, #1f1f1f);
    padding: 1.5rem 5rem;

    h1 > a {
        color: var(--color-text, #fdfdfd);
        text-decoration: none;
    }

    p {
        text-align: right;
    }
}